<% layout('/layouts/boilerplate') %>
<body>
    
    <div class="row">
        <div class="col-8 offset-2">
            <h2 style="color:#fe424d">Creating new listing</h2>
            <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label" style="color: #fe424d;">Title</label>
                    <input type="text" name="listing[title]" placeholder="Write title here" class="form-control" required>
                    <div class="invalid-feedback">Title shoud be required</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label" style="color: #fe424d;">Description</label>
                    <textarea name="listing[description]" placeholder="Description" class="form-control" required></textarea>
                    <div class="invalid-feedback">Description should be required</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label" style="color: #fe424d;"> Upload Image</label>
                    <input type="file" name="listing[image][url]"  class="form-control" required>
                    
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label" style="color: #fe424d;">Category</label>
                    <input name="listing[category]" placeholder="Category(eg:Rooms,Mountains,Farms,Cities,Trendings,Pool,Arctic)" class="form-control" required></input>
                    <div class="invalid-feedback">Category should be required</div>
                </div>

                
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label" style="color: #fe424d;" >Price</label>
                        <input type="number" name="listing[price]" placeholder="Cost" class="form-control" required>
                        <div class="invalid-feedback">Price should be required</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label" style="color: #fe424d;">Enter Country</label>
                        <input type="text" name="listing[country]" placeholder="Enter Country" class="form-control" required>
                        <div class="invalid-feedback">Country name should be required</div>
                    </div>
                </div>
               
                <div class="mb-3">
                    <label for="location" class="form-label" style="color: #fe424d;">Enter Location</label>
                    <input type="text" name="listing[location]" placeholder="Enter Location" class="form-control" required>
                    <div class="invalid-feedback">Location should be required</div>
                </div>

                <button type="submit" class="btn btn-dark add-btn">Add</button>

            </form>    
        </div>
    </div>

    
</body>
